/* RankingModal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top */
  animation: fadeIn 0.15s ease-out;
}

.modal {
  font-family: var(--font-dung-geun-mo), serif;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
  width: 35rem;
  height: 40rem;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  color: black;
  border: 2px solid rgba(111, 99, 98, 1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: auto;
}

.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: none;
}

.modal::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-family: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.closeBtn:hover {
  color: rgba(111, 99, 98, 1);
}

.modalHeader {
  margin-bottom: 2dvh;
}

.modalTitle {
  font-family: var(--font-dung-geun-mo), serif;
  color: rgba(192, 37, 202, 1);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}

.modalContent {
  padding: 10px;
  min-height: 28dvh;
  overflow: auto;
  border-radius: 5px;
  /* background-color: rgba(50, 50, 50, 0.6); */
  /* border: 1px solid rgba(111, 99, 98, 1); */
}

.modalContent::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}
.modalContent::-webkit-scrollbar-track {
  background: none; /* 스크롤바 트랙 색상 */
}
.modalContent::-webkit-scrollbar-thumb {
  background: red; /* 스크롤바 색상 */
  border-radius: 5px; /* 모서리 둥글게 */
}

.rankingItemTitle {
  margin-left: 1dvh;
  margin-right: 1dvh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 1.1rem;
}

.rankingItem {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 1.1rem;
  border: 2px solid rgba(111, 99, 98, 1);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modalSub {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rankingItemGold {
  border: 2px solid gold;
  color: gold;
}

.rankingItemSilver {
  border: 2px solid silver;
  color: silver;
}

.rankingItemBronze {
  border: 2px solid #cd7f32; /* 동색 */
  color: #cd7f32;
}
