/* Modal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top */
}

.modal {
  font-family: var(--font-noto-serif-kr), serif;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  max-width: 50rem;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: white;
  border: 2px solid rgba(111, 99, 98, 1);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-family: none;
  font-size: 1.4rem;
}

.closeBtn:hover {
  color: rgba(111, 99, 98, 1);
}

.content {
  padding: 10px;
  max-width: 500px;
  margin-top: 40px;
  min-height: 400px;
}
