.qnaItem {
  color: yellow;
}

.qnaItem:hover {
  color: rgb(253, 224, 71, 0.7);
  text-underline-position: below;
  cursor: pointer;
}

.mentSection {
  pointer-events: none;
}

.answerBox {
  min-height: 25dvh;
  overflow-x: auto;
  padding-right: 5px;
  margin-bottom: 2dvh;
  font-size: 1.7rem;
  pointer-events: none;
}

.answerBox::-webkit-scrollbar {
  width: 3px;
}

.answerBox::-webkit-scrollbar-track {
  background: none;
}

.answerBox::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.asnwerOutput > span {
  white-space: pre-line;
  font-size: 1.7rem;
}

.btn {
  font-size: 1.7rem;
  color: rgba(171, 159, 158, 0.9);
}

.btn:hover {
  color: rgba(241, 229, 228, 0.9);
}
