.detailTitle {
  color: rgba(15, 190, 135, 1);
  font-size: 1.5rem;
}

.detailSub {
  margin-top: 1dvh;
  font-size: 1rem;
  color: rgba(200, 200, 200);
}

.detailContainer {
  margin-top: 1dvh;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.7);
  color: black;
  border: 2px solid rgba(111, 99, 98, 1);
  min-height: 20dvh;
  white-space: pre-line;
}

.detailContainer::-webkit-scrollbar {
  width: 10px;
}

.detailContainer::-webkit-scrollbar-track {
  background: none;
}

.detailContainer::-webkit-scrollbar-thumb {
  background: rgba(15, 190, 135, 1);
  border-radius: 5px;
}

.buttonSection {
  display: flex;
  flex-direction: row-reverse;
}
