/* src/app/quest/_component/QuestSection/QuestSection.module.css */
.container {
  flex: 2;
  background-color: rgba(0, 0, 1, 0.5);
  color: white;
  z-index: 3;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  max-height: 95dvh;
  display: flex;
  flex-direction: column;
}

.questHeader {
  color: yellow;
  font-size: 2rem;
  display: flex;
}

.title {
  font-family: var(--font-noto-serif-kr), serif;
  flex: 1;
}

.questionBoard {
  flex: 1;
  display: flex;
  height: 90%;
}

.submitForm {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selectLang {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
  margin: 0 10px;
  margin-bottom: 10px;
}

.selectLang:focus {
  outline: 2px solid red;
  outline-offset: 2px;
}

.textEditor {
  max-width: 30dvw;
  z-index: 10;
  height: 100%;
  min-height: 70dvh;
  max-height: 80dvh;
  margin-bottom: 10px;
  overflow-x: auto;
}

.correctDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.incorrectDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.modalSubTitle {
  font-weight: bold;
  color: rgba(201, 189, 188, 1);
  font-size: 1.3rem;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
  flex: 0;
}

.timeSpent {
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid rgba(111, 99, 98, 1);
  border-radius: 10px;
  max-width: 25dvw;
  padding: 10px;
  text-align: center;
  margin-bottom: 1.5dvh;
  font-size: 1.5rem;
  font-family: none;
  color: red;
}

.modalUpperSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.modalBottomSection {
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid rgba(111, 99, 98, 1);
  border-radius: 10px;
  max-width: 25dvw;
  padding: 10px;
  margin-bottom: 1.5dvh;
  font-size: 1.3rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 80px;
  height: 80px;
  margin-bottom: 10px; /* 텍스트와 간격 */
  border: 10px solid #fff; /* 배경색에 맞춰 조정 */
  border-top: 10px solid yellow; /* 원하는 색상 */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.guestWarning {
  color: red;
  margin-top: 1dvh;
  font-weight: bold;
}
